<% layout('layouts/boilerplate.ejs') %>
            <div class="newEdit__form-card">
                <h2>Edit restaurant</h2>
                <form class="newEdit__form" action="/restaurants/<%= restaurant.id %>?_method=PUT" method="POST"
                    enctype="multipart/form-data">
                    <div class="newEdit__form-field">
                        <label class="newEdit__form-field-label" for="name">Name</label>
                        <input class="newEdit__form-field-input" type="text" name="restaurant[name]" id="name" placeholder=" "
                            value="<%= restaurant.name %>" required autofocus>
                        
                    </div>
                    <div class="newEdit__form-field">
                        <label class="newEdit__form-field-label" for="cuisine">Cuisine</label>
                        <input class="newEdit__form-field-input" type="text" name="restaurant[cuisine]" id="cuisine"
                            placeholder=" " value="<%= restaurant.cuisine %>" required>
                        
                    </div>
                    <div class="newEdit__form-field">
                        <label class="newEdit__form-field-label" for="priceRange">Price Range</label>
                        <select class="newEdit__form-field-input" type="text" name="restaurant[priceRange]" id="priceRange"
                            placeholder=" " value="<%= restaurant.priceRange %>" required>
                            <option <% if (restaurant.priceRange === '$') { %>
                                selected
                            <% } %> value="$">$</option>
                            <option <% if (restaurant.priceRange === '$$') { %>
                                selected
                            <% } %> value="$$">$$</option>
                            <option <% if (restaurant.priceRange === '$$$') { %>
                                selected
                            <% } %> value="$$$">$$$</option>
                            <option <% if (restaurant.priceRange === '$$$$') { %>
                                selected
                            <% } %> value="$$$$">$$$$</option>
                            <option <% if (restaurant.priceRange === '$$$$$') { %>
                                selected
                            <% } %> value="$$$$$">$$$$$</option>
                        </select>
                    </div>
                    <div class="newEdit__form-field">
                        <label class="newEdit__form-field-label" for="description">Description</label>
                        <textarea class="newEdit__form-field-textarea" type="text" name="restaurant[description]" id="description"
                            placeholder=" " rows="7" required><%= restaurant.description %></textarea>
                    </div>
                    <div class="newEdit__form-field">
                        <label class="newEdit__form-field-label" for="city">City</label>
                        <input class="newEdit__form-field-input" type="text" name="restaurant[address][city]" id="city"
                            placeholder=" " value="<%= restaurant.address.city %>" required>
                        
                    </div>
                    <div class="newEdit__form-field">
                        <label class="newEdit__form-field-label" for="state_region">State / Region</label>
                        <input class="newEdit__form-field-input" type="text" name="restaurant[address][state_region]"
                            id="state_region" placeholder=" " value="<%= restaurant.address.state_region %>">
                        
                    </div>
                    <div class="newEdit__form-field">
                        <label class="newEdit__form-field-label" for="street">Street</label>
                        <input class="newEdit__form-field-input" type="text" name="restaurant[address][street]" id="street"
                            placeholder=" " value="<%= restaurant.address.street %>" required>
                        
                    </div>
                    <div class="newEdit__form-field">
                        <label class="newEdit__form-field-label" for="houseNumber">House number</label>
                        <input class="newEdit__form-field-input" type="text" name="restaurant[address][houseNumber]"
                            id="houseNumber" placeholder=" " value="<%= restaurant.address.houseNumber %>" required>
                        
                    </div>
                    <div class="newEdit__form-field">
                        <label class="newEdit__form-field-label" for="zipCode">Zipcode</label>
                        <input class="newEdit__form-field-input" type="text" name="restaurant[address][zipCode]" id="zipCode"
                            placeholder=" " value="<%= restaurant.address.zipCode %>" required>
                        
                    </div>
                    <div class="newEdit__form-field">
                        <label class="newEdit__form-field-label" for="country">Country</label>
                        <input class="newEdit__form-field-input" type="text" name="restaurant[address][country]" id="country"
                            placeholder=" " value="<%= restaurant.address.country %>" required>
                        
                    </div>
                    <div class="newEdit__form-field user__form-field--file">
                        <input class="newEdit__form-field-input newEdit__form-field-input--file" type="file" name="restaurant[images]"
                            id="images" placeholder=" " multiple>
                        <label class="newEdit__form-field-label newEdit__form-field-label--file" for="images">Add more images</label>
                    </div>
                    <h3>Delete chosen images</h3>
                        <div class="newEdit__form-field newEdit__form-field--deleteFile">
                                <% restaurant.images.forEach((img, i)=> { %>
                                <div class="newEdit__form-field--deleteFile--controls">
                                    <input type="checkbox" name="deleteImages[]" id="image-<%= i %>" value="<%= img.filename %>">
                                    <label class="icon checked" for="image-<%= i %>">
                                        <!-- <span class="icon checked"></span> -->
                                        <img src="<%= img.thumbnail %> " alt="Image_<%= i %> ">
                                    </label>
                                </div>
                                <% }) %>
                        </div>
        
                    <div class="newEdit__form-field-btns">
                        <button id="submit" class="newEdit__form-btn newEdit__form-btn--success" type="submit">Update</button>
                        <a href="/restaurants/<%= restaurant.id %>" class="newEdit__form-btn newEdit__form-btn--cancel" type="button">Cancel</a>
                    </div>
                </form>
            </div>
        