<% layout('layouts/boilerplate.ejs') %> 
    <div id="indexMap"></div>
    <h1>All Restaurants</h1>
    <div class="grid-wrapper">
        <% for(let restaurant of restaurants) { %>
            <div class="card">
                <a href="/restaurants/<%= restaurant.id %> "><img src="<%= restaurant.images[0].thumbnail %> " alt="restaurant photo"></a>
                <h5>
                    <%= restaurant.name %>
                </h5>
                <h6>
                    <%= restaurant.location %>
                </h6>
                <p>
                    <%= restaurant.cuisine %>
                </p>
                <p>
                    <%= restaurant.priceRange %>
                </p>
            </div>
            <% } %>
    </div>
    <script>
        const mapboxToken = '<%- process.env.MAPBOX_TOKEN %>'
        const restaurants = { features: <%- JSON.stringify(restaurants) %> };
    </script>
    <script src="/javascripts/utilities/indexMap.js"></script>