<% layout('layouts/boilerplate.ejs') %>
<div class="grid-wrapper">
    <div class="row">
<<<<<<< HEAD
        <div class="show__carousel">
            <ul class="show__carousel-slides">
                <% restaurant.images.forEach((img, i) => { %>
                    <li class="show__carousel-slide">
                        <img src="<%= img.url %> " alt="<%= img.filename %> ">
                    </li>
                <% }) %>
            </ul>
            <% restaurant.images.forEach((img, i)=> { %>
                <input type="radio" name="carousel-slide" id="slide-<%= i %>">
                <% }) %>
            <ul class="show__carousel-thumbnails">
                <% restaurant.images.forEach((img, i) => { %>
                    <li>
                        <label for="slide-<%= i %>"><img src="<%= img.thumbnail %> " alt="<%= img.filename %> "></label>
                    </li>
                <% }) %>
            </ul>
=======
        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <% restaurant.images.forEach((img, i)=> { %>
                    <li class="glide__slide"><img src="<%= img.url %> " alt="<%= img.filename %>"></li>
                    <% }) %>
                </ul>
            </div>
            <div class="glide__bullets" data-glide-el="controls[nav]">
                <% restaurant.images.forEach((img, i) => { %> 
                <button class="glide__bullet" data-glide-dir="=<%= i %>"></button>
                <% }) %> 
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">></button>
            </div>
>>>>>>> experimental
        </div>
        <div class="show__card">
            <h3>
                <%= restaurant.name %>
            </h3>
            <h4>
                <%= `${restaurant.address.street} ${restaurant.address.houseNumber}, ${restaurant.address.city}` %>
            </h4>
            <h4>
                <%= restaurant.cuisine %>
            </h4>
            <h4>
                <%= restaurant.priceRange %>
            </h4>
            <p>
                <%= restaurant.description %>
            </p>
            <p>Submitted by: <%= restaurant.author.username %>
            </p>
        </div>
    </div>
    <div class="row">
        
        
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.5.0/glide.js"
    integrity="sha512-BDOdVHygzrUniS5DJvYBzAHyw5WQRdeVfHSaQmufCfV5s6OFnprcxMsEOAs26Bx6eTGpmlFo4owWiPpr3Voc0w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    new Glide('.glide').mount()
</script>
