<% layout('layouts/boilerplate.ejs') %>
<p><%= restaurant.name %></p>
<p><%= restaurant.address %></p>
<p><%= restaurant.description %></p>
<p><%= restaurant.priceRange %></p>
<p><%= restaurant.cuisine %></p>
<p><%= restaurant.courses.courseName %></p>
<p><%= restaurant.images %></p>
<p><%= restaurant.author %></p>
<p><%= restaurant.reviews %></p>
